body {
  background-color: #0f0c0c;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: rgba(15, 15, 15, 0.75);
}

.nav-item a, .navbar a {
  color: #e7dfdf;
}

.img-text {
  position: absolute;
  top: 40%;
  left: 36%;
  color: white;
  font-size: 40px;
}

#effect {
  width: 100;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heading {
  position: absolute;
  top: 250px;
  left: 70px;
}

.paragraph {
  margin-left: 70px;
  margin-right: 20px;
  font-size: 20px;
  color: white;
  font-family: "Quicksand", sans-serif;
}

.img2 {
  width: 100%;
  height: 325px;
  background-image: url("/img/index/index4.jpg");
  background-size: cover;
  margin-right: 70px;
}

footer {
  padding-top: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: blue;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: orange;
}

/* estilos generales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.alert {
  display: block;
  padding: 12px 20px;
  background: #f8d7da;
  color: #721c24;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
}

/* body{
    background: #f2f2f2;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
} */
.contenedorFormulario {
  width: 90%;
  max-width: 1000px;
  padding: 40px;
  margin: 20px auto;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.contenedorFormulario h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  color: #15CF8A;
}

.contenidoFormulario {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.contenidoFormulario .info,
.contenidoFormulario .formulario {
  width: 50%;
}

/* ===========================================
Estilos formulario
============================================== */
.formulario {
  padding-left: 10px;
}

.formulario input[type=text],
.formulario textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 20px;
  border: 1px solid #999;
  color: #999;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  outline: 0;
}

.formulario textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  max-height: 200px;
}

.formulario input[type=text]:focus,
.formulario textarea:focus {
  border: 1px solid grey;
}

.formulario button {
  padding: 12px 30px;
  border: transparent;
  background: grey;
  color: #fff;
  cursor: pointer;
  float: right;
}

.imgContacto {
  max-width: 50%;
}

@media (max-width: 520px) {
  .contenedorFormulario {
    padding: 40px 20px;
  }

  .contenidoFormulario .info,
.contenidoFormulario .formulario {
    width: 100%;
    padding: 0px;
  }

  .contenidoFormulario .info {
    margin-bottom: 30px;
  }

  .imgContacto {
    display: none;
  }
}
@media (max-width: 800px) {
  .contenidoFormulario .info,
.contenidoFormulario .formulario {
    max-width: 100%;
    padding: 0px;
  }

  .contenidoFormulario .info {
    margin-bottom: 30px;
  }

  .imgContacto {
    display: none;
  }
}
.labelVenta {
  text-align: center;
}

th, td {
  padding: 10px;
  text-align: center;
}

.fa, .fas {
  font-size: 50px;
  margin: 10px;
  padding-left: 130px;
}

#aqui {
  color: #f75f27;
}

@media (max-width: 1024px) {
  .titprin {
    padding-top: 70px;
  }
}
p {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: azure;
}

/*# sourceMappingURL=style.css.map */
